<!-- Esse site é onde os alunos de quimica III irão se cadastrar -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGQ - Cadastro</title>
    <link rel="stylesheet" href="{% static 'data/css/cadastro.css' %}">
</head>
<body>
    {% block body %}
    <div class="container">
        <div class="all">
            <form action="{% url 'cadastro' %}" method="post" class="form">
                <h2>Cadastro</h2>
                {% csrf_token %}
                <div class="inputs">
                    <div class="input-field">
                        <label for="name">Nome: </label>    
                        <input type="text" name="name" id="name" class="input">
                    </div>
                    <div class="input-field">
                        <label for="email">Email: </label>
                        <input type="email" name="email" id="email" class="input">
                    </div>
                    <div class="input-field">
                        <label for="password">Senha: </label>
                        <input type="password" name="password" id="password" class="input">
                    </div>
                    <div class="button">
                        <input type="submit" value="Finalizar">
                    </div>
                </div>
            </form>
            <div class="img">
                <img src="" alt="">
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>