{% extends "data/layout.html" %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'data/css/dados.css' %}">
    <div class="mid">
        <main class="main">
            <div class="apresentacao">
                <h2>Olá, {{ request.user.username }}</h2>
                <p>Aqui, você poderá inserir, excluir e editar os dados</p>
            </div>
            <section class="center">
                <div class="info">
                    <ul class="options">
                        <li><input type="radio" name="decision" id="inserir"><label for="inserir">Inserir</label></li>
                        <li><input type="radio" name="decision" id="excluir"><label for="excluir">Excluir</label></li>
                        <li><input type="radio" name="decision" id="alterar"><label for="alterar">Alterar</label></li>
                    </ul>
                    <form action="{% url 'dados/inserir' %}" method="post" class="inserir" id="ins_f" style="display: block">
                        {% csrf_token %}
                        <div class="inputs">
                            <div class="input-label">
                                <label for="concentracao">Concentração[NaCl]: </label>
                                <div class="input">
                                    <input type="number" name="concentracao" id="concentracao" step="0.1">
                                </div>
                            </div>
                            <div class="input-label">
                                <label for="temperatura">Temperatura[ºC]: </label>
                                <div class="input">
                                    <input type="number" name="temperatura" id="temperatura" step="0.1">
                                </div>
                            </div>
                            <div class="button">
                                <input type="submit" value="Enviar Dados">
                            </div>
                        </div>
                    </form>
                    <form action="{% url 'dados/excluir' %}" method="post" class="excluir" id="exc_f">
                        {% csrf_token %}
                        <div class="inputs">
                            <select name="id" id="experimento">
                                {% for experimento in experimentos %}
                                    <option value="{{ experimento.id }}">{{ experimento }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Apagar">
                        </div>
                    </form>
                    <form action="{% url 'dados/alterar' %}" method="post" class="alterar" id="alt_f">
                        {% csrf_token %}
                        <div class="inputs">
                            <select name="id" id="experimento">
                                {% for experimento in experimentos %}
                                    <option value="{{ experimento.id }}">{{ experimento }}</option>
                                {% endfor %}
                            </select>
                            <input type="number" name="concentracao" id="concentracao" placeholder="concentracao">
                            <input type="number" name="temperatura" id="temperatura" placeholder="temperatura">
                            <input type="submit" value="Alterar">
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </div>
    <div class="bottom"></div>
<script src="{% static 'data/js/dados.js' %}"></script>
{% endblock %}