{% extends "data/layout.html" %}
{% load static %}

{% block body %}
        <div class="mid">
            <!-- Gráfico -->
            <div class="canvas">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="bottom">
            <!--Roda pé-->
        </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="">
        let lista_exp = {{ experimentos }};
        console.log(lista_exp)
    </script>
    <script src="{% static 'data/js/app.js' %}"></script>
{% endblock %}