{% extends "data/layout.html" %}

{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'data/css/login.css' %}">
    <div class="container">
        <div class="all">
            <form action="{% url 'login' %}" method="post" class="form">
                <h2>Login</h2>
                {% csrf_token %}
                <div class="inputs">
                    <div class="input-field">
                        <label for="nome">Nome:</label>
                        <input type="text" name="name" id="id_nome" class="input">
                    </div>
                    <div class="input-field">
                        <label for="senha">Senha:</label>
                        <input type="password" name="password" id="id_senha" class="input">
                    </div>
                    <div class="button">
                        <input type="submit" value="Entrar">
                    </div>
                    <div class="link">
                        <a href="{% url 'cadastro' %}">Fazer Cadastro</a>
                    </div>
                </div>
            </form>
            <div class="img">
                <img src="" alt="">
            </div>
        </div>
    </div>
{% endblock %}