@charset "UTF-8";

:root {
    --color1: #140f07;
    --color2: #1d2549;
    --color3: #4b5aa8;
    --color4: #859afc;
    --color5: #cfe5f7;
    --color6: #ffffff;
    --color7: #292929;
}

body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
    body > .tudo {
        width: 100%;
        min-height: 100vh;
    }
        body > .tudo > .top {
            width: 100%;
            height: 10%;
            box-shadow: rgba(0, 0, 0, 0.205) 1px 1px 1px ;
        }
            body > .tudo > .top > .all-top {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                background-color: var(--color2);
            }
                body > .tudo > .top > .all-top > .title {
                    height: 100%;
                    width: 25%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                }
                
                body > .tudo > .top > .all-top > .options {
                    height: 100%;
                    width: 75%;
                }
                    body > .tudo > .top > .all-top > .title > h1,
                    body > .tudo > .top > .all-top > .title > h6 {
                        color: var(--color6);
                    }
                    body > .tudo > .top > .all-top > .options > .options-ul {
                        width: 100%;
                        height: 100%;
                        display: grid;
                        list-style: none;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        grid-template-rows: 1fr;
                        padding: 0;
                        margin: 0;
                    }
                        body > .tudo > .top > .all-top > .options > .options-ul > li {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                        }

                        body > .tudo > .top > .all-top > .options > .options-ul > li > a {
                            text-decoration: none;
                            color: var(--color6);
                            position: relative;
                        }

                            body > .tudo > .top > .all-top > .options > .options-ul > li > a::before {
                                content: '';
                                width: 0px;
                                height: 1px;
                                background-color: var(--color6);
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                transition: all 0.3s ease-in-out;
                            }

                            body > .tudo > .top > .all-top > .options > .options-ul > li > a:hover::before {
                                width: 100%;
                            }
                

/**************************************************************************/

        body > .tudo > .mid {
            width: 100vw;
            height: 80vh;
        }

            body > .tudo > .mid > .main {
                width: 100%;
                height: 100%;
            }

                body > .tudo > .mid > .main > .apresentacao {
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    height: 15%;
                }

                    body > .tudo > .mid > .main > .apresentacao > h2 {
                        display: flex;
                        align-items: center;
                    }

                    body > .tudo > .mid > .main > .apresentacao > p {
                        display: flex;
                        align-items: center;
                    }


                body > .tudo > .mid > .main > .center {
                    width: 100%;
                    height: 85%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                    body > .tudo > .mid > .main > .center > .info {
                        display: grid;
                        width: 60%;
                        height: 75%;
                        border: 1px solid #000;
                        grid-template-rows: 1fr;
                        grid-template-columns: 1fr 3fr;
                    }

                        body > .tudo > .mid > .main > .center > .info > .options {
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            grid-column-start: 1;
                            flex-direction: column;
                        }

                        body > .tudo > .mid > .main > .center > .info > form {
                            display: none;
                            grid-column-start: 2;
                        }

                            body > .tudo > .mid > .main > .center > .info > form.inserir > .inputs {
                                width: 100%;
                                height: 100%;
                                display: grid;
                                grid-template-columns: 1fr 1fr 1fr;
                                grid-template-rows: 2fr 2fr 1fr;
                            }

                                form.inserir > .inputs > .input-label{
                                    grid-column-start: 1;
                                    grid-column-end: 4;
                                    display: grid;
                                    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
                                    grid-template-rows: 1fr 1fr 1fr;
                                }

                                    form.inserir > .inputs > .input-label > label {
                                        grid-column-start: 2;
                                        grid-row-start: 2;
                                        width: 170px;
                                        display: flex;
                                        justify-content: end;
                                        align-items: end;
                                    }

                                    form.inserir > .inputs > .input-label .input{
                                        grid-column-start: 3;
                                        grid-column-end: 5;
                                        grid-row-start: 2;
                                        display: flex;
                                        justify-content: center;
                                        align-items: end;

                                    }

                                        form.inserir > .inputs > .input-label .input input{
                                            width: 100%;
                                            border: none;
                                            border-bottom: 1px solid black;
                                        }

                                form.inserir > .inputs > .button {
                                    grid-column-start: 2;
                                    grid-column-end: 3;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }

                        form.excluir > .inputs {

                        }
