@charset "UTF-8";

:root {
    --color1: #140f07;
    --color2: #1d2549;
    --color3: #4b5aa8;
    --color4: #4e5fbb;
    --color5: #7995f1;
    --color6: #ffffff;
    --color7: #292929;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color2);
}

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .all {
            width: 50%;
            height: 50%;
            border: 1px solid var(--color6);
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            border-radius: 10px;
            overflow: hidden;
        }

            .all > .form {
                background-color: var(--color6);
                grid-column-start: 1;
            }

                .all > .form > h2 {
                    text-align: center;
                }

                .all > .form > .inputs {
                    height: 80%;
                    display: grid;
                    grid-template-rows: 2fr 2fr 2fr 1fr;
                    grid-template-columns: 1fr 1fr;
                }

                    .all > .form > .inputs > .input-field {
                        grid-column-start: 1;
                        grid-column-end: 3;
                        padding: 20px;
                        display: grid;
                        grid-template-columns: 1fr 4fr;
                        grid-template-rows: 0.5fr 1fr 0.5fr;
                    }

                        .all > .form > .inputs > .input-field > label {
                            grid-row-start: 2;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .all > .form > .inputs > .input-field > .input {
                            grid-row-start: 2;
                            font-size: 12px;
                        }

                    .all > .form > .inputs > .button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                        .all > .form > .inputs > .button > input[type="submit"] {
                            width: 50%;
                            height: 50%;
                        }

                    .all > .form > .inputs > .link {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                        .all > .form > .inputs > .link > a {
                            color: var(--color2);
                            text-decoration: none;
                            position: relative;
                        }

                        .all > .form > .inputs > .link > a::before {
                            content: '';
                            width: 0px;
                            height: 1px;
                            background-color: var(--color2);
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            transition: all 0.3s ease-in-out;
                        }

                        .all > .form > .inputs > .link > a:hover::before {
                            width: 100%;
                        }

            .all > .img {
                grid-column-start: 2;
                width: 100%;
                height: 100%;
                padding: 10px;
            }

                .all > .img > img {
                    background-image: url(../img/undraw_science_re_mnnr.svg);
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center bottom;
                  }
            
